---
layout: default
title: "software"
description: "Research projects in the group"
navtab: "software"
categories: 
 - projects
group: navigation
navorder: 2
---

{% include JB/setup %}

<div class="bigspacer"></div>

<div class="container">
{% for project in site.data.projects %}

    {% cycle 'add rows': '<div class="row">', nil, nil %}
		<div class="col-md-8 projectbox">
			<div class="head">
				<a href="{{ project.url }}" class="off">{{ project.title }}</a>
			</div>	
			<div class="smallspacer"></div>
			<div class="note">
				<a href="{{ project.url }}" class="off">{{ project.description }}</a>
			</div>
                        <div class="smallspacer"></div>
			<div class="bigspacer"></div>
			<div class="spacer"></div>
		</div>
    {% cycle 'close rows': nil, nil, '</div>' %}
{% endfor %}
{% cycle 'close rows': nil, '</div>', '</div>' %} 

</div>


