# Environment files
environment*

# Compiled site

# Projects
projects/
!projects/index.html

# Jekyll build process
.jekyll-cache
.jekyll-metadata
.sass-cache

# Other files
.DS_Store
.Rproj.user
.tweet-cache
jingma-cv.tex
jingma-cv.aux
jingma-cv.log
jingma-cv.out
jingma-cv.synctex.gz
