---
layout: default
title: "papers"
description: "Research papers from the lab"
group: navigation
navorder: 1
---
{% include JB/setup %}

<div class="bigspacer"></div>

<div class="smalltitle text-left"> <strong> Preprints </strong></div>
<div class="bigspacer"></div>
<div class="container">
    <div class="bigspacer"></div>
    {% for paper in site.categories.papers %}
    {% if paper.type == "preprint"%}
      {% cycle 'add rows': '<div class="row">', '', '' %}
	   	<div class="col-md-12 paperbox">
			   <div class="media">
  				<a class="pull-right" href="{{ paper.url }}">
    				<img width=100 class="media-object" src="{{ paper.image }}">
  				</a>
 			 	  <div class="media-body">
    				<div class="smallhead media-heading"><a href="{{ paper.url }}" class="off">{{ paper.title }}</a></div>
    				<p class="note">{{ paper.shortref }}</p>
  			  </div>
			   </div>
		  	<div class="bigspacer"></div>
			  <div class="spacer"></div>
      </div>
      {% cycle 'close rows': '', '', '</div>' %}
    {% endif %}
    {% endfor %}
{% cycle 'close rows': '', '</div><div class="bigspacer"></div>', '</div><div class="bigspacer"></div>' %}
</div>

<hr/>
<div class="smalltitle text-left"> <strong> Statistical Methods </strong></div>
<div class="bigspacer"></div>

<div class="container">
    <div class="bigspacer"></div>
    {% for paper in site.categories.papers %}
    {% if paper.type == "statistical"%}
       {% cycle 'add rows2': '<div class="row">', '', '' %}
        <div class="col-md-12 paperbox">
            <div class="media">
                <a class="pull-right" href="{{ paper.url }}">
                    <img width=100 class="media-object" src="{{ paper.image }}">
                        </a>
                <div class="media-body">
                    <div class="smallhead media-heading"><a href="{{ paper.url }}" class="off">{{ paper.title }}</a></div>
                    <p class="note">{{ paper.shortref }}</p>
                </div>
            </div>
            <div class="bigspacer"></div>
            <div class="spacer"></div>
        </div>
      {% cycle 'close rows2': '', '', '</div>' %}
    {% endif %}
    {% endfor %}
<!--{% cycle 'close rows2': '', '</div><div class="bigspacer"></div>', '</div><div class="bigspacer"></div>' %}-->
</div>

<hr/>
<div class="smalltitle text-left"> <strong> Statistical Applications </strong> </div>
<div class="bigspacer"></div>

<div class="container">
   <div class="bigspacer"></div>
   {% for paper in site.categories.papers %}
   {% if paper.type == "substantive"%}
      {% cycle 'add rows3': '<div class="row">', '', '' %}
		  <div class="col-md-12 paperbox">
			   <div class="media">
  			  	<a class="pull-right" href="{{ paper.url }}">
    				   <img width=100 class="media-object" src="{{ paper.image }}">
  				  </a>
 			 	 <div class="media-body">
    				<div class="smallhead media-heading"><a href="{{ paper.url }}" class="off">{{ paper.title }}</a></div>
    				<p class="note">{{ paper.shortref }}</p>
  			 </div>
		  	</div>
			  <div class="bigspacer"></div>
			  <div class="spacer"></div>
      </div>
      {% cycle 'close rows3': '', '', '</div>' %}
   {% endif %}
   {% endfor %}
</div>

<hr/>
<div class="smalltitle text-left"> <strong> Book Chapters </strong> </div>
<div class="bigspacer"></div>

<div class="container">
    <div class="bigspacer"></div>
    {% for paper in site.categories.papers %}
    {% if paper.type == "book"%}
       {% cycle 'add rows4': '<div class="row">', '', '' %}
        <div class="col-md-12 paperbox">
            <div class="media">
                <a class="pull-right" href="{{ paper.url }}">
                    <img width=100 class="media-object" src="{{ paper.image }}">
                        </a>
                <div class="media-body">
                    <div class="smallhead media-heading"><a href="{{ paper.url }}" class="off">{{ paper.title }}</a></div>
                    <p class="note">{{ paper.shortref }}</p>
                </div>
            </div>
            <div class="bigspacer"></div>
            <div class="spacer"></div>
        </div>
      {% cycle 'close rows4': '', '', '</div>' %}
    {% endif %}
    {% endfor %}
</div>

<div class="bigspacer"></div>
<div class="infinite-spinner"></div>


<!-- Infinite scroll -->	
<script async src="/js/infinite-scroll.js"></script>
